* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    }

body {
    margin: em;
    font-family: helvetica, arial, sans-serif;
    font-size: 110%;
}

header {
    background-color: #001C53;
    padding: 1em 0 1em 0;
    
}

header h1 {
    font-size: 300%;
    text-align: center;
    color: white;
    
}

header h3 {
    text-align: center;
    color: silver;
    
}

nav {
    background: #E94200;
    text-align: center;
    padding: 5px;
    display: block;
}

nav a {
    text-decoration: none;
    color: black;
    font-family: "arial", helvetica, sans-serif;
    border: solid thin;
    margin: 1px;
    padding: 1px 2px 1px 2px;
}

nav a:hover {
    background: #7C7D7E;
    
}

.section-link {
    margin: 2% 0 2% 1%;
    
}

h1 a {
    text-decoration: none;
    font-size: 140%
}

h1 a:hover{
    color: #E94200;
}

.section-link p {
    margin-bottom: 1%;
}
.feature {
    margin: 0 10% 1% 3%;
    padding: 2px;
}

article h3 {
    font-size: 90%;
    font-weight: 500;
    
}

article h3 a {
    text-decoration: none;
}

article h3 a:hover {
    color: #E94200;
}

article h2 {
    margin-bottom: 2px    
}

article h2 a {
    text-decoration: none;
    color: black;
    font-style: oblique;
}

article h2 a:hover {
    color: #E94200;
}

.continue {
    text-align: center;
}

footer {
    background-color: #001C53;
    padding: 1em 0 1em 0;
    color: white;
    text-align: center;
}
footer a {
    color: #E94200;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
footer span {
    margin-left: 5%;
}

iframe {
    text-align: center;
    width: 600px;
    height: 760px;
}

.photo-with-caption {
    padding: 0;
    display:grid;
    margin-bottom: 1rem;
    margin-top: 1rem;
    padding: 1%;
    
}

img {
    width: 200px;
    display: inline-block;
}

.photo-with-caption p {
    font-size: 70%;
    display: block;
    margin-top: 2px;
    margin-bottom: 0;
    font-weight: 100;
}

.short-link {
    line-height: 25px;
}

.content {
    line-height: 25px;
    padding-bottom: 5px;
    text-indent: 20px;
}

.social-media {
    text-align: left;
    margin: 10px;
    display: inline-block;
    float:right;
    border: solid thin;
    padding: 5px;
            
}

.social-media a {
    text-decoration: none;
    padding-right: 3px;
}


.embed {
    width: 800px;
    margin: 0 auto;
    
}